# Ignore everything here
/*

# Except for these:
!bootstrap/
!code/
!plugins/
!.gitignore
!.gitmodules
!license.txt
!Page.php
!params_blank.php
!README.md

# This code:
code/*
!code/CodeIgniter/
!code/Smarty/

# And only these plugins:
plugins/*
!plugins/CDN/
!plugins/Database/
!plugins/Feed/
!plugins/Form/
!plugins/Hierarchy/
!plugins/Image/
!plugins/jQuery/
!plugins/Smarty/