# Ignore everything here
/*

# Except for these:
!BootPress/
!CodeIgniter/
!plugins/
!Page.php
!params_blank.php
!.gitignore
!.gitmodules

# And only these plugins:
plugins/*
!plugins/CDN/
!plugins/Database/
!plugins/Feed/
!plugins/Form/
!plugins/Image/
!plugins/jQuery/
!plugins/Smarty/