# Ignore everything here
/*

# Except for these:
!bootpress/
!code/
!plugins/
!Page.php
!params_blank.php
!.gitignore
!.gitmodules
!README.md
!license.txt

# This code:
code/*
!code/CodeIgniter/
!code/Smarty/

# And only these plugins:
plugins/*
!plugins/CDN/
!plugins/Database/
!plugins/Feed/
!plugins/Form/
!plugins/Image/
!plugins/jQuery/