language: php

php:
    - '5.4'
    - '5.5'
    - '5.6'
    - '7.0'
    - nightly
    - hhvm

before_script:
    - composer install --dev
    - if [[ $TRAVIS_PHP_VERSION < 7 || $TRAVIS_PHP_VERSION == 'hhvm' ]]; then composer require paragonie/random_compat:1.*; fi
    - if [[ $TRAVIS_PHP_VERSION < 5.5 ]]; then composer require ircmaxell/password-compat:1.*; fi
    - if [[ $TRAVIS_PHP_VERSION == 5.4 ]]; then composer require codeclimate/php-test-reporter:dev-master; fi
    
script:
    - if [[ $TRAVIS_PHP_VERSION == 5.4 ]];
        then phpunit --debug --coverage-text --coverage-clover build/logs/clover.xml;
        else phpunit --debug;
      fi

after_script:
    - if [ $TRAVIS_PHP_VERSION == 5.4 ]; then ./vendor/bin/test-reporter; fi

addons:
    code_climate:
        repo_token: 4a40abd1cab819c1120e8884a40a61cdb97bd5cc9618259474d5013b246437fa
